<%- include('partials/header') %> 

<% if (locals.currentUser) { %> 

    <% let isAuthorized = currentUser.isAdmin || currentUser.isMember; %> 
    <% const isOwnMessage = currentUser._id.toString() === message.user._id.toString(); %> 

    <div class="container py-4">
        <% if(isAuthorized || isOwnMessage) { %> 
            <h5>Message created by <a href="<%= message.user.url %>"><%- message.user.name %></a></h5>
        <% } else { %> 
            <h5>Message creator is anonymous</h5>
            <p>Become a member to view the creator</p>
        <% } %> 
        <p>
            <%- message.text %> 
        </p>
        <% if (currentUser.isAdmin) { %> 
            <a href="<%= message.url + '/delete' %>" class="btn btn-danger">Delete</a>
        <% } %> 
    </div>

<% } else { %> 

    <%- include('partials/login_prompt') %> 

<% } %> 

<%- include('partials/footer') %> 