<%- include('partials/header') %> 

    <div class="container">

        <h3 class="my-4">Are you sure you want to delete this category?</h3>
        <h4><%- category.name %> </h4>
        <p><%- category.description %> </p>
        <form action="" method="post">
            <input type="hidden" name="categoryid" id="categoryid" value="<%= category._id %>">
            <div class="form-group">
                <label for="adminPassword" class="sr-only">Admin Password</label>
                <% if (locals.errors && locals.errors.length > 0) { %> 
                    <div class="alert limited-width alert-danger my-4">
                        <h4 class="alert-heading">Oops!</h4>
                        <ol>
                            <% errors.forEach(function(err) { %> 
                                <li><%= err.msg %> </li>
                            <% }) %> 
                        </ol>
                    </div>
                <% } %> 
				<input type="password" name="adminPassword" id="adminPassword" class="form-control" placeholder="Admin Password">
			</div>
            <input type="submit" class="btn btn-danger" value="Delete">
        </form>        

        <% if (locals.games != undefined && locals.games.length > 0) { %>
            <h5 class="alert alert-danger mb-4 mt-5 mb-4">Please delete the following games before deleting this cateory.</h5>
            <div class="row row-cols-1 row-cols-md-2">
                <% locals.games.forEach(function(game) { %> 
    
                    <div class="col mb-3">
                        <div class="game card shadow-sm h-100">
                            <div class="row no-gutters h-100">
                                <div class="col-5 col-md-6 col-lg-4">
                                    <img src="<%= game.imageUrl %>" alt="Category Image" class="card-img-top">
                                </div>
                                <div class="col-7 col-md-6 col-lg-8">
                                    <div class="card-body">
                                        <h5 class="card-title font-weight-bold"><%- game.name %> </h5>
                                        <p class="card-text max-lines-5"><%- game.description %> </p>
                                        <a href="<%= game.url %>" class="btn btn-outline-dark font-weight-bold">See Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>            
        <% } %> 
    </div>    

<%- include('partials/footer') %> 